{% extends "../beaconofhope/index.html" %}
{% block content %}

<div style="text-align: center">
    <h3>Clients</h3>
    <form method="GET" action ="">
        <input type="text" name="query" placeholder="first/last name, email, phone"/>
        <input type="submit" value="Search Clients" />
    </form>
    <div style="display: inline-block">
        {% if allClients %}
        <table class="table-bordered table-striped">
            <th>Edit</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>Sex</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            {% for client in allClients %}
            <tr>
                <td><a class="btn" role="button" href="{% url 'editClient' client.id %}">Edit</a></td>
                <td>{{client.first_name}}</td>
                <td>{{client.last_name}}</td>
                <td>{{client.date_of_birth}}</td>
                <td>{{client.sex}}</td>
                <td>{{client.phone_number}}</td>
                <td>{{client.email_address}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

{% endblock content %}