{% load static %}
<script type="text/javascript" src="{% static '/jquery-3.4.1.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}"> -->
<!-- load jquery, our style sheet, and then bootstrap -->

{% block content%}
template page for all other html pages
{% endblock %}


<!-- all jquery code will go here -->
<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>