{% load static %}
<script type="text/javascript" src="{% static '/jquery-3.4.1.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
<!-- load jquery, our style sheet, and then bootstrap -->
{% block header %}
  {% if user.is_authenticated %}
    Welcome {{ user.username }}  |
    <div style="text-align: center">
        <a class="btn" role="button" href="{% url 'index' %}">Home</a>
        <a class="btn" role="button" href="{% url 'client' %}">Client</a>
        <a class="btn" role="button" href="{% url 'company' %}">Company</a>
        <a class="btn" role="button" href="">Jobs</a>
        <a class="btn" role="button" href="{% url 'logout' %}">Logout</a>
    </div>
  {% else %}
    <div style="text-align: center">
        <a class="btn" role="button" href="{% url 'login' %}">Login</a>
        <a class="btn" role="button" href="{% url 'register' %}">Register</a>
    </div>
  {% endif %}
{% endblock header%}

{% block content%}
template page for all other html pages
{% endblock content%}


<!-- all jquery code will go here -->
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
