{% extends "../beaconofhope/index.html" %}
{% block content %}

<div style="text-align: center">
    <h3>Companies</h3>
    <div style="display: inline-block">
        {% if allCompanies %}
        <table class="table-bordered table-striped">
            <th>Edit</th>
            <th>Name</th>
            <th>Primary First Name</th>
            <th>Primary Last Name</th>
            <th>Primary Phone</th>
            <th>Neighborhood</th>
            {% for company in allCompanies %}
            <tr>
                <td><a class="btn" role="button" href="{% url 'editCompany' company.id %}">Edit</a></td>
                <td>{{company.name}}</td>
                <td>{{company.primary_first_name}}</td>
                <td>{{company.primary_last_ame}}</td>
                <td>{{company.primary_phone}}</td>
                <td>{{company.neighborhood}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

{% endblock content %}
