{% extends "../beaconofhope/index.html" %}
{% block content %}

<div style="text-align: center">
    <h1>Login</h1>
    <FORM id="login_form" method="POST" action="{% url 'index' %}">
      {% csrf_token %}
      Username: <input type="text"> <br>
      Password: <input type="text"> <br>
      <input type="submit" value="Submit">
    </form>

</div>

<!-- make this a real login screen, the "home screen" of sorts and make sure only the right users
can get to each page that we care about -->

{% endblock content %}
